<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>BookManager</display-name>

    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>action.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserSelect</servlet-name>
        <servlet-class>action.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSelect</servlet-name>
        <url-pattern>*.user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>action.StatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>*.status</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>